body{
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

.dict{
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

.link-der{
    font-size: 20px;
}