*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    color: black;
}

body{
    background-color: khaki;
}

.title{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: blueviolet;
	font-size: 15rem;
}

.icon{
	position: absolute;
	margin-left: 300px;
}